<div class="center">

  <div class="col-sm-4">

    <%= form_for @event, remote: true do |f| %>
     <%= f.collection_select :id, @active_events, :id, :name, 
        options = { include_blank: "Please select an event:"}, 
        html_options = { class: "form-control", id: "event-select" } %>
    <% end %>

  </div>
        <!-- I may have to use a radial menu with multiple checkboxes below instead of a dropdown. -->
        <!-- It may be an event-by-event decision. Some may have tiers and others have choices. --> 
</div>
