<div class = "center">
  <div class= "col-sm-6" id="info-tabs">
    <%= link_to "About Us!", "#" %>
  </div>

  <div class= "col-sm-6" id="info-tabs">
      <%= link_to "Contact Us!", "#" %>
  </div>
</div>