
<div class="row">
  <h1>Look at all our fantastic events!</h1>
    <div class = "center" id="event-logo">
      <!-- include default Betheshow Hat Logo First -->
      <!-- then change depending on which event is selected -->
    </div>
</div>

<div class="row center"> <!-- first row start -->
    <%= render 'partials/event_select' %>
</div> <!-- first row end -->

<div class = "row"> <!-- second row start -->
  <%= render 'partials/event_options' %>
</div> <!-- second row end -->

<script>
<%= render 'partials/scripts' %>
</script>
