<div class="center" >
  <h2>Available Options:</h2>
    <% @event.event_options.each do |e| %>
      <p><strong>Name:</strong> <%= e.name %> </p>
      <p><strong>Description:</strong> <%= e.description %></p>
      <p><strong>Price:</strong> <%= e.price %></p>
      <button>Book This Event Now!</button>
      <hr>
    <% end %>
 </div>

 <div class = "center" id= "gallery">
  <h2>Super Happy Funtime Photos!</h2>
    <p>Eventually, this will be a paginated grid of images from each individual event!</p>
  </div>

